<form
  [formGroup]="form"
  class="form-group w-50 p-4"
  (ngSubmit)="onFormSubmit()"
>
  <p class="m-0">Civility:</p>
  <div class="form-group">
    <div class="form-field d-inline me-3">
      <label for="male" class="me-1">Male</label>
      <input
        id="male"
        type="radio"
        value="male"
        name="civility"
        formControlName="civility"
      />
    </div>
    <div class="form-field d-inline">
      <label for="female" class="me-1">Female</label>
      <input
        id="female"
        type="radio"
        value="female"
        name="civility"
        formControlName="civility"
      />
    </div>
  </div>
  @if (formService.isInvalidAndTouchedOrDirty(stepOne["civility"])) {
    @if (stepOne["civility"].errors?.["required"]) {
      <p class="text-danger">Civility is required !</p>
    }
  }
  <div class="form-group mt-2">
    <label for="lastName">Last Name:</label>
    <input
      id="lastName"
      type="text"
      placeholder="Last Name..."
      formControlName="lastName"
      class="form-control"
    />
    @if (formService.isInvalidAndTouchedOrDirty(stepOne["lastName"])) {
      @if (stepOne["lastName"].errors?.["required"]) {
        <p class="text-danger">Last Name is required !</p>
      }
    }
  </div>

  <div class="form-group mt-2">
    <label for="firstName">First Name:</label>
    <input
      id="firstName"
      type="text"
      placeholder="First Name..."
      formControlName="firstName"
      class="form-control"
    />
    @if (formService.isInvalidAndTouchedOrDirty(stepOne["firstName"])) {
      @if (stepOne["firstName"].errors?.["required"]) {
        <p class="text-danger">First Name is required !</p>
      }
    }
  </div>
  <div class="form-group mt-2">
    <label for="dob">Date of Birth:</label>
    <input
      id="dob"
      type="date"
      placeholder="Date of birth..."
      formControlName="dateOfBirth"
      class="form-control"
    />
    @if (formService.isInvalidAndTouchedOrDirty(stepOne["dateOfBirth"])) {
      @if (stepOne["dateOfBirth"].errors?.["required"]) {
        <p class="text-danger">Date of birth is required !</p>
      }
    }
  </div>

  <div class="form-group mt-2">
    <label for="country">Country:</label>
    <div>
      <select id="country" formControlName="country">
        <option value="" disabled selected>Select a country</option>
        @for (country of countries; track country) {
          <option [value]="country">{{ country }}</option>
        }
      </select>
      @if (formService.isInvalidAndTouchedOrDirty(stepOne["country"])) {
        @if (stepOne["country"].errors?.["required"]) {
          <p class="text-danger">Country is required !</p>
        }
      }
    </div>
  </div>

  <div formGroupName="passwordForm">
    <div class="form-group mt-2">
      <label for="mdp">Password: </label>
      <input
        id="mdp"
        type="password"
        placeholder="Choose a password"
        class="form-control"
        formControlName="password"
      />
      @if (
        stepOnePasswordForm.password.touched &&
        stepOnePasswordForm.password.invalid
      ) {
        @if (stepOnePasswordForm.password.errors?.["required"]) {
          <p class="text-danger">Password is required !</p>
        }
      }
    </div>

    <div class="form-group mt-2">
      <label for="mdp-confirm">Confirm Password: </label>
      <input
        id="mdp-confirm"
        type="password"
        placeholder="Confirm a password"
        class="form-control"
        formControlName="passwordConfirmation"
      />
    </div>
    @if (
      formService.isInvalidAndTouchedOrDirty(stepOnePasswordForm.password) &&
      formService.isInvalidAndTouchedOrDirty(
        stepOnePasswordForm.passwordConfirmation
      )
    ) {
      @if (stepOnePasswordForm.passwordConfirmation.errors?.["required"]) {
        <p class="text-danger">Password confirmation is required !</p>
      }
    }
    @if (form.controls.passwordForm.errors) {
      @if (form.controls.passwordForm.errors["PasswordNoMatch"]) {
        <p class="text-danger">Passwords do not match !</p>
      }
    }
  </div>

  <div class="mt-2">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  <p>{{ form.status }}</p>
</form>
